body{
    background-color: antiquewhite;
}
.container{
    background-color: bisque;
    font-family: 'Oswald', sans-serif;

}
.head1{
    
}
.row1{
    text-align: center;
}
.row2{
    text-align: center;
}
.row3{
    text-align: center
}
.row4{
    text-align: center
}
.row5{
    text-align: center
}